<% include ../include/header.html %>
<form action="/file" method="post" enctype="multipart/form-data">
  <p>
    <input type="file" id="file" name="file">
  </p>

  <p>
    <input type="reset" value="<%= __('Reset') %>" id="fileUploadCancelButton">
    <input type="submit" id="fileUploadButton" value="<%= __('Upload') %>">
  </p>
</form>
<div id="drop-area">
  <p class="drop-instructions"><%= __('or drag and drop a file here') %></p>
</div>
<script>
  window.onload = function () {
    var file = document.getElementById('file')
      , fileUploadButton = document.getElementById('fileUploadButton')
      , fileUploadCancelButton = document.getElementById('fileUploadCancelButton')
      , dropArea = document.getElementById('drop-area');
    fileUploadButton.setAttribute('disabled', 'disabled');
    fileUploadCancelButton.onclick = function () {
      file['files'] = [];
      return true;
    };
    file.onchange = function () {
      if (file['files']) {
        fileUploadButton.removeAttribute('disabled');
      } else {
        fileUploadButton.setAttribute('disabled', 'disabled');
      }
      return true;
    };
    if (dragAndDropSupported()) {
      addCssClass(dropArea, 'enabled');
      dropArea.ondrop = function (event) {
        var files;
        event.preventDefault && event.preventDefault();
        files = event.dataTransfer.files;
        file['files'] = files;
        return true;
      };
      dropArea.ondragenter = function (event) {
        event.preventDefault && event.preventDefault();
        return false;
      };
      dropArea.ondragover = function (event) {
        addCssClass(dropArea, 'over');
        event.preventDefault && event.preventDefault();
        return false;
      };
      dropArea.ondragleave = function (event) {
        removeCssClass(dropArea, 'over');
        return false;
      };
    }
  }
</script>
<% include ../include/footer.html %>
