<% include ../include/header.html %>
<h2><%= __('Stored file') %></h2>
<p><%= __('Save theses links to download or purge the file later') %> :</p>
<fieldset id="fileLinks">
  <p>
    <label for="downloadLinkValue"><%= __('Download link') %> :</label>
    <input type="text" id="downloadLinkValue" readonly="readonly" onfocus="this.select();" onmouseup="return false">
  </p>
  <p>
    <label for="thisPageLinkValue"><%= __('Page link to purge') %> :</label>
    <input type="text" id="thisPageLinkValue" readonly="readonly" onfocus="this.select();" onmouseup="return false">
  </p>
</fieldset>
<div class="clear"></div>
<h2><%= __('File info') %></h2>
<fieldset id="fileInfo">
  <p>
    <label for="id"><%= __('Id') %> :</label>
    <input type="text" id="id" name="id" value="<%= file.id %>" readonly="readonly" onfocus="this.select();" onmouseup="return false">
  </p>
  <p>
    <label for="name"><%= __('Name') %> :</label>
    <input type="text" id="name" name="name" value="<%= file.name %>" readonly="readonly" onfocus="this.select();" onmouseup="return false">
  </p>
  <p>
    <label for="type"><%= __('Type') %> :</label>
    <input type="text" id="type" name="type" value="<%= file.type %>" readonly="readonly" onfocus="this.select();" onmouseup="return false">
  </p>
  <p>
    <label for="size"><%= __('Size (bytes)') %> :</label>
    <input type="text" id="size" name="size" value="<%= file.size %>" readonly="readonly" onfocus="this.select();" onmouseup="return false">
  </p>
  <p>
    <label for="niceDate"><%= __('Date') %> :</label>
    <input type="text" id="niceDate" name="niceDate" value="<%= file.niceDate %>" readonly="readonly" onfocus="this.select();" onmouseup="return false">
  </p>
</fieldset>
<div class="clear"></div>
<form id="purgeForm" name="purgeForm" action="/file/<%= file.id %>" method="post" enctype="multipart/form-data">
  <input type="hidden" name="_method" value="delete">
</form>
<ul class="links">
  <li><a id="downloadLink" class="link" href="/download/<%= file.id %>/<%= file.name %>"><%= __('Download') %></a></li>
  <li><a id="purgeLink" class="link" href="#" onclick="document.purgeForm.submit()"><%= __('Purge') %></a></li>
</ul>
<script>
  var baseUrl = window.location.protocol + "//" + window.location.host;
  var downloadLinkValue = document.getElementById('downloadLinkValue');
  downloadLinkValue.value = baseUrl + '/download/<%= file.id %>/<%= file.name %>';
  var thisPageLinkValue = document.getElementById('thisPageLinkValue');
  thisPageLinkValue.value = document.URL;
</script>
<% include ../include/footer.html %>
